<div class="banner-vinyl" style="background-image: linear-gradient(180deg, rgba(0,0,0,0.8239670868347339) 0%, rgba(253,187,45,0) 20%), url('<%= @favorite.vinyl.cover_url %>');">
  <div class="d-flex flex-row-reverse p-3">
      <%= image_tag 'fav-diamond.svg', style:'height:20px;'%>
  </div>
</div>
<div class="infos bg-light mb-4">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="text-primary title-sizing"><%= @favorite.vinyl.title %></h2>
    <small id="rate"><%= image_tag 'rating.svg', class:"mr-1" %><%= @favorite.vinyl.stars %></small>
  </div>
  <div class="artist-year">
    <small class="text-muted">by <%= @favorite.vinyl.artist.name %> - <%= @favorite.vinyl.release_date %></small>
  </div>
  <div class="tracks-index mt-3">
      <ul class="pl-0 bg-light">
        <% @favorite.vinyl.tracks.each do |track| %>
          <li><%= track.position %>. <%= track.title %></li>
        <% end %>
      </ul>
  </div>
</div>
