<div style="height: 100vh">
  <div class="banner-vinyl" style="background-image: linear-gradient(180deg, rgba(0,0,0,0.8239670868347339) 0%, rgba(253,187,45,0) 25%), url('<%= @vinyl.cover_url %>');">
    <% if @favorite %>
      <%= render 'shared/delete-favorite-link' %>
    <% else %>
      <%= render 'shared/add-favorite-link' %>
    <% end %>
  </div>
  <div class="infos bg-light mb-4">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="text-primary title-sizing"><%= @vinyl.title %></h2>
      <small id="rate" class="d-flex align-items-baseline"><%= image_tag 'rating.svg', class:"mr-1" %><strong><%= @vinyl.stars %></strong></small>
    </div>
    <div class="artist-year">
      <small class="text-muted">by <%= @vinyl.artist.name %> - <%= @vinyl.release_date %></small>
    </div>
    <div class="tracks-index mt-3 pb-3" style="height: 25vh; overflow: scroll">
      <ul class="pl-0 bg-light">
        <% @vinyl.tracks.each do |track| %>
          <li class="justify-content-between align-items-center"><span><strong><%= track.position %>.</strong> <%= track.title %></span> <span><%= track.milliseconds %></span></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="vinyl-image">
        <%= image_tag 'vinyl.png' %>
  </div>
</div>
