<li class="nav-item dropdown">
  <%= image_tag "avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="navbarDropdown">
    <%= link_to "My Collection", user_vinyls_path, class: "dropdown-item" %>
    <%= link_to "My Suggestion", suggestions_path, class: "dropdown-item" %>
    <%= link_to "My Wish-list", favorites_path, class: "dropdown-item" %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>
</li>
