<%= render 'shared/loader_search' %>
<div class="m-5">
</div>

<div class="d-flex justify-content-between align-items-center m-3">
  <div class="avatar-navbar">
    <%= render 'shared/avatar_navbar' %>
  </div>
  <h2 class="font-weight-bold">Collection</h2>
</div>

<ul class="nav justify-content-between p-3">
  <li class="nav-item font-weight-bold">Collection</li>
  <li class="nav-item font-weight-bold text-hidden"><%= link_to 'Suggestions', suggestions_path, id:"btn-search", style:"color:#9B9B9B;" %></li>
  <li class="nav-item font-weight-bold text-hidden"><%= link_to 'Wish list', favorites_path, style:"color:#9B9B9B;" %></li>
</ul>

<div class="music-kind-view">
  <% @hash_vinyl.values[0..3].each do |count| %>
    <% counter = (count.count.to_f / @user_vinyls.count.to_f) * 203.to_f %>
    <% genre = Genre.find(count[0]) %>
    <div class="">
      <div class="count text-center p-1" style="min-width: 50px; height: <%= counter%>px;"><p><%= genre.name %></p><div class="counter"><%= count.count  %></div></div>
    </div>
  <% end %>
</div>

<div class="card-vinyl">
  <div class="search-bar">
    <%= form_tag user_vinyls_path, method: "GET", class:"home-form-search w-100 d-flex justify-content-center z-index-10" do %>
      <%= text_field_tag :query,
          params[:query],
          required: false,
          class: "form-control home-input",
          placeholder: "Find your Album Vinyl"
      %>
    <%=  submit_tag "Search", class:"btn-mid-gold btn-search-home"%>
    <% end %>
  </div>
  <div class="m-3 content-search" style="padding-bottom : 45px;">
    <% @user_vinyls.reverse_each do |user_vinyl| %>
      <div class="d-flex card-search py-4 g-0">
        <%= link_to user_vinyl_path(user_vinyl) do %>
          <div class="container-img">
            <img class="photo-sizing" src="<%= user_vinyl.vinyl.cover_url %>">
          </div>
          <div class="container-infos w-100 px-3 py-2 d-flex flex-column justify-content-between">
            <div>
              <h6 class="card-text title-sizing text-white"><%= user_vinyl.vinyl.title %></h6>
              <p class="card-text text-sizing text-white"><%= user_vinyl.vinyl.artist.name %></p>
            </div>
            <p class="card-text genre-color"><small><i class="fas fa-music"></i> <%= user_vinyl.vinyl.genre.name %></small></p>
          </div>
          <div class="h-75 p-3 link-card justify-content-end align-items-center d-flex flex-column">
            <%= link_to icon('fas', 'trash-alt'),  user_vinyl_path(user_vinyl), method: :delete, remote: true, class:"my-trash text-white" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
