<%= render 'shared/header_collection' %>

<div class="music-kind-view">
</div>

<div class="card-vinyl">
  <div class="search-bar">
    <%= render 'shared/search_bar' %>
  </div>

  <div class="m-4">
    <div class="row g-0">
      <% @user_vinyls.each do |user_vinyl| %>
      <div class="col-4 d-flex align-items-center">
        <img src="<%= user_vinyl.vinyl.cover_url %>" style="height: 8em; width: 8em;">
      </div>
      <div class="col-8 pr-0">
        <div class="card-body">
          <h5 class="card-title text-white"><%= user_vinyl.vinyl.title %></h5>
          <p class="card-text text-white"><%= user_vinyl.vinyl.artist.name %></p>
          <div class="d-flex justify-content-between">
            <p class="card-text"><small class="text-muted"><%= user_vinyl.vinyl.genre.name %></small></p>
            <i class="fas fa-trash text-white"></i>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
