<%= render 'shared/header_collection' %>

<div class="music-kind-view">
</div>

<div class="card-vinyl">
  <div class="search-bar">
    <%= render 'shared/search_bar' %>
  </div>

  <% @user_vinyls.each do |user_vinyl| %>
    <%= user_vinyl.vinyl_id.title %>
    <%= user_vinyl.vinyl_id.artist %>
    <%= user_vinyl.vinyl_id.genre %>
  <% end %>
</div>
