<div style="height: 100vh">
  <div class="banner-vinyl" style="background-image: url('<%= @user_vinyl.vinyl.cover_url %>');">
    <div class="d-flex flex-row-reverse p-3">
    </div>
  </div>
  <div class="infos bg-light mb-4" style="height: 42vh">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="text-primary"><%= @user_vinyl.vinyl.title %></h2>
      <small id="rate"><%= image_tag 'rating', class:"mr-1" %><%= @user_vinyl.vinyl.stars %></small>
    </div>
    <div class="artist-year">
      <small class="text-muted">by <%= @user_vinyl.vinyl.artist.name %> - <%= @user_vinyl.vinyl.release_date %></small>
    </div>
    <div class="tracks-index mt-3" style="height: 25vh; overflow: scroll">
        <ul class="pl-0 bg-light">
          <% @user_vinyl.vinyl.tracks.each do |track| %>
            <li><%= track.position %>. <%= track.title %></li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
<%# <div class="d-flex w-100 fixed-bottom p-3">
  <% img = image_tag 'back-arrow.svg' %>
  <%# <%= link_to img, user_vinyls_path %>
<%# </div> %>
