<div id="vinyl-without">
  <div class="banner-vinyl d-flex align-items-end justify-content-center" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.8239670868347339) 2%, rgba(253,187,45,0) 50%), url('<%= @user_vinyl.vinyl.cover_url %>'); height: 380px;">
    <div class="tag-wrap d-flex">
      <% @vinyl_tags.each do |vinyl_tag| %>
        <div class="bg-white ml-2 mb-2 py-2 px-3 rounded-pill text-dark font-weight-bold">
          <%= vinyl_tag.tag.title %>
        </div>
      <% end %>
    </div>
    <i id="buttonOk" class="fas fa-tag d-flex bd-highlight ml-auto p-3"></i>
  </div>
  <div id="tag-with" hidden>
    <div class="class-tag-with" style="background-color: #2D4243;">
      <div class="card-tag">
        <div class="top-tag">
          <h2 class="text-center my-3">Choose your tag</h2>
          <%= simple_form_for @user_vinyl do |f| %>
          <div class="d-flex justify-content-center align-items-center">
            <%= f.input :vinyl_tags, collection: @tags, class:"form-control", label: false %>
            <%= f.submit "add tag", class: "btn btn-primary font-weight-bold mb-3" %>
          </div>
          <% end %>

          <div class="tag-suggest">
            <div class="bg-white ml-2 mb-2 py-2 px-3 rounded-pill"><%= link_to @tags.find(4).title, update_tag_user_vinyl_path(@user_vinyl, @tags.find(4)), method: :patch, class: "text-dark text-decoration-none font-weight-bold" %></div>
            <div class="bg-white ml-2 mb-2 py-2 px-3 rounded-pill"><%= link_to @tags.find(33).title, update_tag_user_vinyl_path(@user_vinyl, @tags.find(33)), method: :patch, class: "text-dark text-decoration-none font-weight-bold" %></div>
            <div class="bg-white ml-2 mb-2 py-2 px-3 rounded-pill"><%= link_to @tags.find(22).title, update_tag_user_vinyl_path(@user_vinyl, @tags.find(22)), method: :patch, class: "text-dark text-decoration-none font-weight-bold" %></div>
            <div class="bg-white ml-2 mb-2 py-2 px-3 rounded-pill"><%= link_to @tags.find(14).title, update_tag_user_vinyl_path(@user_vinyl, @tags.find(14)), method: :patch, class: "text-dark text-decoration-none font-weight-bold" %></div>
            <div class="bg-white ml-2 mb-2 py-2 px-3 rounded-pill"><%= link_to @tags.find(7).title, update_tag_user_vinyl_path(@user_vinyl, @tags.find(7)), method: :patch, class: "text-dark text-decoration-none font-weight-bold" %></div>
            <div class="bg-white ml-2 mb-2 py-2 px-3 rounded-pill"><%= link_to @tags.find(34).title, update_tag_user_vinyl_path(@user_vinyl, @tags.find(34)), method: :patch, class: "text-dark text-decoration-none font-weight-bold" %></div>
          </div>
        </div>

        <div class="line">
        </div>

        <div class="bottom-tag my-3">
          <div class="my-tag text-center my-3">
            <h2>My tags</h2>
          </div>
          <div class="d-flex flex-wrap mt-3">
            <% @vinyl_tags.each do |vinyl_tag| %>
              <div class="bg-white ml-2 mb-2 py-2 px-3 rounded-pill">
                <%= link_to vinyl_tag_path(vinyl_tag), method: :delete, class: "text-dark text-decoration-none font-weight-bold" do %>
                  <%= "X #{vinyl_tag.tag.title}" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <i id="buttonTagClose" class="fas fa-times-circle position-absolute"></i>
      </div>
    </div>
  </div>
</div>
  <div class="infos bg-light mb-4" style="height: 42vh">
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="text-primary title-sizing"><%= @user_vinyl.vinyl.title %></h2>
      <small id="rate" class="d-flex align-items-baseline"><%= image_tag 'rating.svg', class:"mr-1" %><strong><%= @user_vinyl.vinyl.stars %></strong></small>
    </div>
    <div class="artist-year">
      <small class="text-muted">by <%= @user_vinyl.vinyl.artist.name %> - <%= @user_vinyl.vinyl.release_date %></small>
    </div>
    <div class="tracks-index mt-3" style="height: 25vh; overflow: scroll">
        <ul class="pl-0 bg-light">
          <% @user_vinyl.vinyl.tracks.each do |track| %>
            <li><%= track.position %>. <%= track.title %></li>
          <% end %>
        </ul>
    </div>
  </div>
</div>
<%# <div class="d-flex w-100 fixed-bottom p-3">
  <% img = image_tag 'back-arrow.svg' %>
  <%# <%= link_to img, user_vinyls_path %>
<%# </div> %>
<%= javascript_pack_tag 'hide_with_js' %>
