<!DOCTYPE html>
<html>
  <head>
    <title>Diamond</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <%# <% if back_arrow_devise? && !current_page?(:unauthenticated_root)%>
      <%# <%= render 'shared/back-arrow-devise' %>
    <%# <% end %>
    <%# <% if back_arrow? && %>
      <%# <%= render 'shared/back-arrow' %>
    <%# <% end %>
    <% if white_bottom_navbar? %>
      <%= render 'shared/white-bottom-navbar' %>
    <% elsif dark_bottom_navbar? %>
      <%= render 'shared/dark-bottom-navbar' %>
    <% end %>

  </body>
</html>
